@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');

body, button, input, select, textarea {
    font-family: 'montserrat', 'Fraunces';
}

*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

:root {
    /*Primary*/    
    --darkcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /*Neutral*/
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--cream);
}

div.card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border-radius: 15px;
    width: 600px;
    height: 450px;
}

.card .container .image img {
    border-radius: 15px 0 0 15px;
    height: 100%;
}

.card .container .info {
    background: var(--white);
    padding: 10px 35px;
    border-radius: 0 15px 15px 0;
}

.card .container .info h2 {
    font-family: 'Fraunces';
    font-size: 2rem;
    margin: 10px 0;
    line-height: 30px;
}

.card .container .info #title {
    margin: 20px 0;
    font-size: small;
    letter-spacing: 5px;
}

.card .container .info p {
    line-height: 25px;
    font-size: 85%;
    margin: 15px 0;
}

.card .container .info .price {
    display: flex;
    align-items: center;
}

.card .container .info .price h2 {
    color: var(--darkcyan);
    margin: 0 20px 0 0;
}

.card .container .info .price p {
    font-size: small;
    text-decoration: line-through;
}

.card .container .info button {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    background: var(--darkcyan);
    border: none;
    color: var(--white);
    margin: 20px 0;
    font-size: 1.1rem;
}

.card .container .info:hover > button {
    background: rgb(4, 62, 4);
    cursor: pointer;
}